* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

body {
    background-color: #e6e8ec;
}

.header {

    height: 42px;

    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;

}

li {
    list-style: none;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav li {
    float: left;
    margin: 0 10px;

}

.nav li a {
    height: 42px;
    display: block;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: black;
    text-decoration: none;

}

.nav li a:hover {
    border-bottom: 2px solid #05d2f2;
    color: #05d2f2;


}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 50px;
    color: #05d2f2;

}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #05d2f2;
    border-right: 0px;
    color: rgb(203, 208, 212);
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    background-image: url('path/to/image.png');
    border: 0px;

}

.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #373e3f;

}

/* < !-- banner部分 --> */
.banner {
    height: 300px;
    background-color: #ef9608aa;
}

.banner .banxin {
    width: 800px;
    height: 300px;
    margin: 0 auto;
    background: url(image/gb.png)no-repeat center center;
}

.banner .banxin .subnav {
    float: left;
    width: 200px;
    height: 300px;
    background-color: #f4630983;

}

.subnav li {
    height: 33px;
    line-height: 33px;
    padding: 0 20px;

}

.subnav li a {
    color: azure;
    text-decoration: none;
    font-size: 15px;

}

.subnav li a span {
    float: right;
}

.subnav li a:hover {
    color: #f4f4095a;
    font-size: 18px;
    font-weight: bold;
}

.banxin .course {
    float: right;
    width: 180px;
    height: 250px;
    margin: 20px 0;

    background-color: #fafaf7f1;
}

.course h3 {
    background-color: #d8d5126c;
    text-align: center;
    color: rgb(255, 255, 255);

}

.course .course-list {
    margin-left: 15px;



}

.course-list li {
    padding: 8px 0;
    border-bottom: #373e3f 1px solid;



}

.course-list li h4 {
    font-size: 15px;
    color: #373e3f;
}

.course-list p {
    font-size: 13px;
    color: #373e3f;
}

.course-list button {
    width: 100%;
    height: 40px;
    background-color: #f3f6f72f;
    color: #f18306ec;
    border: #f27f05f1 1px solid;
    margin: 5px 0;
    font-size: 17px;
}

.course-list button a {
    text-decoration: none;
    color: #f18306ec;
}

/* < !-- 精品推荐大模块 --> */
.goods {
    /* 行高会继承给三个孩子 */
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    box-shadow: 10px 0px 10px 0px #0000001f;
    margin-top: 10px;

}

.goods h3 {
    float: left;

    padding: 0 30px;
    color: coral;
}

.goods-list li {
    float: left;
}

.goods-list ul li a {

    padding: 0 30px;
    border-left: #0354f7 1px solid;
    text-decoration: none;
    color: #373e3f;
}

.xiugai a {
    float: right;

    padding-right: 20px;
    text-decoration: none;
    color: #ef5908;

}

/* < !-- 精品推荐大模块 --> */

.box-hd {

    height: 40px;
    line-height: 40px;

    margin-top: 10px;
    padding-left: 10px;
    font-size: 15px;
    color: #373e3f;

}

.box-hd h3 {
    float: left;


}

.box-hd a {
    float: right;
    padding-right: 20px;
    text-decoration: none;
    color: #e5d4cb;
}

.box-bd {
    margin-top: 4px;
    height: 600px;

}

.box-bd ul {
    float: left;
}

.box-bd ul li {
    float: left;
    width: 230px;
    height: 290px;
    margin: 0 10px 10px 0;
    background-color: #fff;

}

.box-bd li:hover {
    box-shadow: 5px 5px 10px 0px #0000001f;
}

.one img {
    width: 230px;

}

.one a {
    display: inline-block;
    margin-top: 10px;
    padding-left: 20px;
    text-decoration: none;
    color: #373e3f;
}

.one p {
    padding: 40px 0 0 20px;
    font-size: 14px;
    color: #373e3f;
}

.one p .level {
    color: #f68504;

}

.one p .yuan {
    color: #373e3f;
    padding: 0 10px;
}


/* 底部版权信息 */

.big-box {
    height: 300px;
    background-color: #fff;

}

.big-box .footter {

    padding-top: 30px;

}

.banquan {
    float: left;

}

.banquan img {
    margin: 0 0 0 10px;
}

.banquan p {
    width: 350px;
    margin-left: 20px;

    font-size: 14px;
    color: #373e3f;

}

.banquan button {
    width: 100px;
    height: 30px;
    margin: 20px 0 0 20px;
    border: 1px solid #eda507;
    color: #eda507;

}

.link {
    float: right;
    width: 400px;
    height: 150px;
}

.link dl {
    float: left;
    margin-left: 50px;
}

.link dd a {
    text-decoration: none;
    color: #373e3f;

}